/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans:wght@300&display=swap');

/* Variables */
:root {
  --font-family: "Cardo", serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 800;
  --bg-color: #1c1c1c;
  --nav-color: #FCF9EE;
  --primary-color: #0D0D0D;
  --secondary-color: #FFB347;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.2s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    /* font-family: var(--font-family); */
    background-color: var(--nav-color);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--nav-color);
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

/* Improving the navigation bar appearance */
nav h1 {
    color: var(--primary-color);
    font-family: "Cardo", serif;
    font-weight: 700;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 20pt;
}

.nav-title {
    font-size: 32pt;
}

.nav-link:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}
  

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 68.75rem;
    margin-right: 30rem;
} */

.me {
    position: absolute;
    width: 650px;
    left: 50%;
    margin-left: -325px;
    bottom: 0%;
    z-index: 0;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.bio-title {
    font-size: 42pt;
    font-family: "Cardo", serif;
    color: var(--primary-color);
    left: 50%;
    width: 1000px;
    top: 12%;
    margin-left: 50%;
    margin-left: -500px;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.bio-description {
    font-size: 20pt;
    font-family: "Josefin Sans", sans-serif;
    color: var(--primary-color);
    left: 50%;
    width: 46%;
    top: 22%;
    margin-left: -23%;
    text-align: justify;
    text-align-last: center;
    position: fixed;
    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height:30%;
    background: var(--secondary-color);
    /* position: fixed; */
    margin-top: 1.8%;
}

.page-title {
    font-family: "Cardo", serif;
    font-size: 40pt;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    position: fixed;
    text-align: center;
}

.projects {
    font-family: "Cardo", serif;
    margin-top: 5%;
    text-align: center;
}

.projects ul {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 0;
}

.project-description {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
}

footer {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18pt;
    bottom: 0%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    position: fixed;
    /* background-color: var(--nav-color); */
    color: var(--nav-color);
    padding: 1.25rem;
    text-align: center;
}

@media screen and (max-width: 810px) {
    /*changes reflects on screen with a width of 720px and below*/
    .bio-title {
        font-size: 24pt;
        font-family: "Cardo", serif;
        color: var(--primary-color);
        left: 50%;
        width: 500px;
        top: 15%;
        margin-left: 50%;
        margin-left: -250px;
        text-align: center;
        position: fixed;
        z-index: 1;
    }

    .bio-description {
        font-size: 12pt;
        font-family: "Josefin Sans", sans-serif;
        color: var(--primary-color);
        left: 50%;
        width: 60%;
        top: 20%;
        margin-left: -30%;
        text-align: justify;
        text-align-last: center;
        position: fixed;
        z-index: 1;
    }

    nav {
        padding: 1.5rem 1rem;
    }
    
    nav ul {
        position: fixed;
        background-color: var(--nav-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }
    
    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }
    
    nav ul.show {
        transform: translateX(0);
    }

    .me {
        position: absolute;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        bottom: 0%;
        z-index: 0;
    }

    .rectangle {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: -1;
        height:30%;
        background: var(--secondary-color);
        /* position: fixed; */
        margin-top: 1.8%;
    }

    footer {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12pt;
        bottom: 0%;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        position: fixed;
        /* background-color: var(--nav-color); */
        color: var(--nav-color);
        padding: 1.25rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    .nav-title {
        font-size: 18pt;
    }

    nav a {
        color: var(--primary-color);
        transition: var(--transition);
        font-size: 12pt;
    }

    .bio-title {
        font-size: 12pt;
        font-family: "Cardo", serif;
        color: var(--primary-color);
        left: 50%;
        width: 500px;
        top: 17%;
        margin-left: 50%;
        margin-left: -250px;
        text-align: center;
        position: fixed;
        z-index: 1;
    }

    .bio-description {
        font-size: 11pt;
        font-family: "Josefin Sans", sans-serif;
        color: var(--primary-color);
        left: 50%;
        width: 80%;
        top: 22%;
        margin-left: -40%;
        text-align: justify;
        text-align-last: center;
        position: fixed;
        z-index: 1;
    }

    .me {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: 0;
    }

    .rectangle {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: -1;
        height:30%;
        background: var(--secondary-color);
        /* position: fixed; */
        margin-top: 1.8%;
    }

    footer {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12pt;
        bottom: 0%;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        position: fixed;
        /* background-color: var(--nav-color); */
        color: var(--nav-color);
        padding: 1.25rem;
        text-align: center;
    }
}