/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans:wght@300&family=Red+Hat+Display:wght@900&display=swap');

/* Variables */
:root {
  --font-family: "Red Hat Display", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 800;
  --bg-color: #1c1c1c;
  --nav-color: #fff5d3;
  --primary-color: #0D0D0D;
  --secondary-color: #f5ac46;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.2s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
    height: 100%;
}


/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    /* font-family: var(--font-family); */
    background-color: var(--nav-color);
    height: 100%;
    /* background: radial-gradient(circle at 50% 0%, rgba(252,249,238,1) 50%, var(--secondary-color) 20%); */
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--nav-color);
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

/* Improving the navigation bar appearance */
nav h1 {
    color: var(--primary-color);
    font-family: "Josefin Sans", sans-serif;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 20pt;
}

.nav-title {
    font-size: 20pt;
}

.nav-link:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}
  

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 68.75rem;
    margin-right: 30rem;
} */

.me {
    position: absolute;
    width: 80%;
    left: 0%;
    /* margin-left: -325px; */
    bottom: 0%;
    z-index: 0;
    filter: saturate(0%);
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.bio-title {
    font-size: 5em;
    font-family: "Red Hat Display", sans-serif;
    color: var(--primary-color);
    left: 45%;
    width: 1000px;
    top: 25%;
    text-align: left;
    position: fixed;
    z-index: 1;
}

.bio-description {
    font-size: 20pt;
    font-family: "Josefin Sans", sans-serif;
    color: var(--primary-color);
    left: 45%;
    width: 46%;
    top: 37%;
    text-align: left;
    /* text-align-last: center; */
    position: fixed;
    z-index: 1;
}

.rectangle {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height:10%;
    background: var(--secondary-color);
    /* position: fixed; */
    margin-top: 1.8%;
}

.rectangle-page {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height:10%;
    background: var(--secondary-color);
    /* position: fixed; */
    margin-top: 1.8%;
}

.circle {
    --circle-radius: 40vw;
    position: absolute;
    width: var(--circle-radius);
    height: var(--circle-radius);
    min-width: var(--circle-radius);
    min-height: var(--circle-radius);
    left: 17%;
    bottom: 40vh;
    margin-left: calc(-1 * var(--circle-radius)/2);
    margin-bottom: calc(-1 * var(--circle-radius)/2);
    z-index: -1;
    background: var(--secondary-color);
    background: linear-gradient(1turn, rgb(255, 79, 4) 0%, var(--secondary-color) 80%);
    border-radius: 50%;
}

.circle-title {
    position: absolute;
    --circle-title-radius: 7rem;
    width: var(--circle-title-radius);
    height: var(--circle-title-radius);
    min-width: var(--circle-title-radius);
    min-height: var(--circle-title-radius);
    left: -1rem;
    top: 0rem;
    margin-left: calc(-1 * var(--circle-title-radius) / 2);
    margin-bottom: calc(-1 * var(--circle-title-radius) / 2);
    z-index: -1;
    background: var(--secondary-color);
    background: linear-gradient(1turn, rgb(255, 79, 4) 0%, var(--secondary-color) 80%);
    /* position: fixed; */
    border-radius: 50%;
}

.page-title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 64pt;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    position: relative;
    text-align: center;
    color: var(--bg-color);
}

.projects {
    font-family: "Red Hat Display", sans-serif;
    margin-top: 5%;
    text-align: center;
}

.projects ul {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 0;
}

.project-description {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
}

footer {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14pt;
    bottom: 0%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    position: fixed;
    /* background-color: var(--nav-color); */
    color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
}

/* PROJECTS */
.image-grid {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-gap: 20px; */
    /* margin-top: 50px; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}

.image-item {
    display: inline-block;
    flex-direction: column;
    /* border: 1px solid #000; */
    /* box-shadow: 0 3px 5px var(--bg-color); */
    transition: 0.5s;
    align-items: center;
    padding: 0px;
    width: 30em;
    
    /* margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem; */

    /* background-color: var(--bg-color); */
}

.image-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.caption {
    margin-top: 10px;
    text-align: center;
    font-size: 18pt;
    font-family: "Josefin Sans", sans-serif;
    color: var(--nav-color);
}

img {
    /* max-width: 100%; */
    transition: 0.5s;
}

img:hover {

}

@media screen and (max-width: 810px) {
    /*changes reflects on screen with a width of 720px and below*/
    .bio-title {
        font-size: 24pt;
        font-family: "Cardo", serif;
        color: var(--primary-color);
        left: 50%;
        width: 500px;
        top: 15%;
        margin-left: 50%;
        margin-left: -250px;
        text-align: center;
        position: fixed;
        z-index: 1;
    }

    .bio-description {
        font-size: 12pt;
        font-family: "Josefin Sans", sans-serif;
        color: var(--primary-color);
        left: 50%;
        width: 60%;
        top: 22%;
        margin-left: -30%;
        text-align: justify;
        text-align-last: center;
        /* position: fixed; */
        z-index: 1;
    }

    nav {
        padding: 1.5rem 1rem;
    }
    
    nav ul {
        position: fixed;
        background-color: var(--nav-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }
    
    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }
    
    nav ul.show {
        transform: translateX(0);
    }

    .me {
        position: absolute;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        bottom: 0%;
        z-index: 0;
    }

    .rectangle {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: -1;
        height:30%;
        background: var(--secondary-color);
        /* position: fixed; */
        margin-top: 1.8%;
    }

    footer {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12pt;
        bottom: 0%;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        position: fixed;
        /* background-color: var(--nav-color); */
        color: var(--nav-color);
        padding: 1.25rem;
        text-align: center;
    }

}

@media screen and (max-width: 480px) {

    .nav-title {
        font-size: 18pt;
    }

    nav a {
        color: var(--primary-color);
        transition: var(--transition);
        font-size: 12pt;
    }

    .bio-title {
        font-size: 12pt;
        font-family: "Cardo", serif;
        color: var(--primary-color);
        left: 50%;
        width: 500px;
        top: 20%;
        margin-left: 50%;
        margin-left: -250px;
        text-align: center;
        position: fixed;
        z-index: 1;
    }

    .bio-description {
        font-size: 11pt;
        font-family: "Josefin Sans", sans-serif;
        color: var(--primary-color);
        left: 50%;
        width: 80%;
        top: 26%;
        margin-left: -40%;
        text-align: justify;
        text-align-last: center;
        position: fixed;
        z-index: 1;
    }

    .me {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: 0;
    }

    .rectangle {
        position: absolute;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        bottom: 0%;
        z-index: -1;
        height:33%;
        background: var(--secondary-color);
        /* position: fixed; */
        margin-top: 1.8%;
    }

    footer {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12pt;
        bottom: 0%;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        position: fixed;
        /* background-color: var(--nav-color); */
        color: var(--nav-color);
        padding: 1.25rem;
        text-align: center;
    }
}